html {
  font-family: "Roboto";
}

h1 {
  color: #fff;
}

body {
  background-color: #2b2f37;
}

.login_bar {
  width: 1200px;
}

.logo {
  max-width: 500px;
  width: 100%;
}

.login_header {
  max-width: 1000px;
  height: 100vh;
  min-height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.login_heading {
  color: #e9e8e8;
  font-family: "Roboto Slab", serif;
  font-size: 30pt;
}

.login_btn:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.bar_chart {
  background: #33353e;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 3px 5px rgb(29, 28, 28);
}

.dash_page {
  margin-top: 50px;
}

.pie_charts {
  margin-bottom: 100px;
  display: flex;
  background: #33353e;
  justify-content: center;
  box-shadow: 1px 3px 5px rgb(29, 28, 28);
}

.admin_page {
  background-color: #33353e;
  padding: 20px;
  margin: 50px auto 0 auto;
}

.user_types_form {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
