html {
  font-family: "Roboto";
}

body {
  background-color: rgb(24, 23, 22);
}

.login_bar {
  width: 1200px;
}

.logo {
  width: 500px;
}

.login_header {
  max-width: 1000px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.login_heading {
  color: #e9e8e8;
  font-family: "Roboto Slab", serif;
  font-size: 30pt;
}

.login_btn:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
